<p>teste</p>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-light elevation-4 ">
    <!-- Control sidebar content goes here -->
    <div class="card text-left">
      <div class="card-header">
       Editar
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="codigo">codigo</label>
            <input type="text" class="form-control" id="codigo" placeholder="Código">
          </div>
          <div class="form-group">
            <label for="especialidade">Especialidade</label>
            <input type="text" class="form-control" id="especialidade" placeholder="Especialidade">
          </div>

        </form>
      </div>
      <div class="card-footer text-center">

        <button type="submit" class="btnAction" data-widget="control-sidebar" mat-mini-fab color="primary"><mat-icon>check</mat-icon></button>
        <button type="button" class="btnAction" data-widget="control-sidebar" mat-mini-fab color="warn" ><mat-icon>cancel</mat-icon></button>

      </div>
    </div>
  </aside>
  <!-- /.control-sidebar -->
